page-home {
    text-align:center;
    .temp {
        font-size: 70px;
        text-align:center;
        font-weight:bold;
        word-spacing:-18px;
    }
    .icon {
        text-align:center;
        margin:auto;
    }
    .location {
        text-align:center;
        font-size:17px;
        text-transform:capitalize;
    }
    p {
        text-align:center;
        font-size:16px;
    }


}
