
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  overlay:    rgba(0,0,0,.4),
  opacity:    rgba(238,238,238,.6),
  sky:        skyblue
);

$list-ios-header-color:color($colors,light);
$list-ios-header-background-color:color($colors, overlay);
$list-ios-header-font-weight:700;
$list-ios-header-font-size:1.6rem;
$list-inset-ios-border-radius:10px;
$list-inset-ios-margin-top:30px;
$list-ios-background-color:color($colors, overlay);
$tabs-ios-tab-color-inactive:color($colors, light);

$list-md-header-font-size:1.6rem;
$list-md-header-color:color($colors,light);
$list-md-header-font-weight:700;
$list-md-background-color:color($colors, overlay);
$tabs-md-tab-color-inactive:color($colors, light);

$tabs-background:color($colors, overlay);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
